<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
 <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/first_db</property>
 <property name="hibernate.connection.password">azer1998</property>
 <property name="hibernate.connection.username">root</property>
 <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
 <property name="hibernate.show_sql">true</property>
 <property name="hibernate.hbm2ddl.auto">update</property>
 

<mapping class="ma.gestion.beans.Admin"/>
 <mapping class="ma.gestion.beans.Medecin"/>
 <mapping class="ma.gestion.beans.Patient"/>
 <mapping class="ma.gestion.beans.Secretaire"/>
 <mapping class="ma.gestion.beans.Dossier"/>
 <mapping class="ma.gestion.beans.RendezVous"/>
 <mapping class="ma.gestion.beans.Visite"/>
 <mapping class="ma.gestion.beans.Certificat"/>
 <mapping class="ma.gestion.beans.Ordonance"/>
 <mapping class="ma.gestion.beans.TypePaiment"/>
 <mapping class="ma.gestion.beans.Paiment"/>
 </session-factory>
</hibernate-configuration>
